Repository mash-up-kr/sulsul-web, changes with the labels that .github/labeler.yml gives for each.
All labels: apps/web, apps/map, packages, configs, dependencies, .github

chore(.nvmrc): fix to lts
  .nvmrc
Labels: none

chore: project initialization
  .github/workflows/ci.yml
  apps/explore/.eslintrc.js
  apps/explore/.gitignore
  apps/explore/README.md
  apps/explore/next.config.js
  apps/explore/package.json
  apps/explore/public/next.svg
  apps/explore/public/vercel.svg
  apps/explore/src/app/favicon.ico
  apps/explore/src/app/globals.css
  apps/explore/src/app/layout.tsx
  apps/explore/src/app/page.tsx
  apps/explore/src/styles/theme.ts
  apps/explore/tsconfig.json
  apps/onboarding/.eslintrc.js
  apps/onboarding/.gitignore
  apps/onboarding/README.md
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/public/next.svg
  apps/onboarding/public/vercel.svg
  apps/onboarding/src/app/favicon.ico
  apps/onboarding/src/app/globals.css
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/styles/theme.ts
  apps/onboarding/tsconfig.json
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/src/emotion.d.ts
  apps/web/src/hooks/test.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  configs/eslint/next.js
  configs/eslint/react.js
  package.json
  pnpm-lock.yaml
Labels: apps/web, configs, dependencies, .github

chore: amplify test
  apps/explore/src/app/page.tsx
Labels: none

chore(eslint): correctly
  .vscode/extensions.json
  .vscode/settings.json
  apps/explore/.eslintrc.js
  apps/explore/emotion.d.ts
  apps/explore/package.json
  apps/explore/src/app/layout.tsx
  apps/onboarding/.eslintrc.js
  apps/onboarding/emotion.d.ts
  apps/onboarding/package.json
  apps/onboarding/src/app/layout.tsx
  configs/eslint-config/common.js
  configs/eslint-config/next.js
  configs/eslint-config/package.json
  configs/eslint-config/react.js
  configs/eslint/next.js
  configs/eslint/package.json
  configs/eslint/react.js
  package.json
  packages/token/.eslintrc.js
  packages/token/package.json
  packages/ui/.eslintrc.js
  packages/ui/package.json
  pnpm-lock.yaml
Labels: packages, configs, dependencies

chore(package.json): add dependency for lint
  .vscode/settings.json
  apps/explore/package.json
  apps/explore/src/app/layout.tsx
  apps/onboarding/package.json
  apps/onboarding/src/app/layout.tsx
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(packages/ui): add emotion
  packages/ui/package.json
  pnpm-lock.yaml
Labels: packages, dependencies

chore: add amplify.yml
  amplify.yml
Labels: none

chore(packages/token): refactor token codes
  apps/explore/emotion.d.ts
  apps/explore/src/app/layout.tsx
  apps/explore/src/styles/theme.ts
  apps/onboarding/emotion.d.ts
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/styles/theme.ts
  packages/token/src/index.ts
  packages/token/src/overridingTheme.ts
Labels: packages

chore: amplify test
  apps/explore/src/app/page.tsx
Labels: none

style(onboarding): add button style for test
  apps/onboarding/src/app/page.tsx
Labels: none

chore(packages/token): set color token
  packages/token/src/colors.ts
Labels: packages

chore(packages/token): set text token
  packages/token/src/text.ts
Labels: packages

chore(emotion): refactor type declaration
  apps/explore/emotion.d.ts
  apps/explore/src/app/layout.tsx
  apps/onboarding/emotion.d.ts
  apps/onboarding/src/app/layout.tsx
  packages/token/src/index.ts
  packages/token/src/overridingTheme.ts
Labels: packages

refactor(token): rename theme to token
  apps/explore/emotion.d.ts
  apps/explore/src/app/layout.tsx
  apps/onboarding/emotion.d.ts
  apps/onboarding/src/app/layout.tsx
  packages/token/src/index.ts
  packages/token/src/token.ts
Labels: packages

fix(package/token): fix wrong style
  packages/token/src/text.ts
Labels: packages

chore: initialize design tokens (#4)
  apps/explore/emotion.d.ts
  apps/explore/src/app/layout.tsx
  apps/explore/src/app/page.tsx
  apps/explore/src/styles/theme.ts
  apps/onboarding/emotion.d.ts
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/styles/theme.ts
  packages/token/src/colors.ts
  packages/token/src/index.ts
  packages/token/src/text.ts
  packages/token/src/token.ts
Labels: packages

style(global.css): add global style)
  apps/onboarding/src/app/globals.css
  packages/ui/global.css
  packages/ui/src/Button.tsx
Labels: packages

chore(amplify): test
  apps/explore/src/app/page.tsx
  apps/onboarding/src/app/page.tsx
Labels: none

chore: remove amplify.yml
  amplify.yml
Labels: none

chore(packages/ui): update dependency
  .vscode/settings.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: packages, dependencies

feat(packages/ui): create button component
  packages/ui/src/Button.tsx
Labels: packages

chore(emotion): set up for using emotion on ssr
  apps/explore/emotion.tsx
  apps/explore/src/app/layout.tsx
  apps/onboarding/emotion.tsx
  apps/onboarding/src/app/layout.tsx
Labels: none

chore(tsconfig): set jsImportSource for emotion
  apps/explore/tsconfig.json
  apps/onboarding/tsconfig.json
Labels: none

feat(onboarding/page): create sample designed components
  apps/onboarding/src/app/page.tsx
Labels: none

chore(amplify): test
  apps/explore/src/app/page.tsx
Labels: none

Chore/add style configs (#7)
  .vscode/settings.json
  apps/explore/emotion.tsx
  apps/explore/src/app/layout.tsx
  apps/explore/tsconfig.json
  apps/onboarding/emotion.tsx
  apps/onboarding/src/app/globals.css
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/tsconfig.json
  packages/ui/global.css
  packages/ui/package.json
  packages/ui/src/Button.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: packages, dependencies

chore(amplify): preview test
  apps/explore/src/app/page.tsx
Labels: none

chore(web-view): svg test
  .husky/pre-commit
  apps/explore/public/bubble_wine.svg
  apps/explore/src/app/page.tsx
Labels: none

chore(web-view): svg test
  .husky/pre-commit
  apps/explore/public/bubble_wine.svg
  apps/explore/src/app/page.tsx
Labels: none

chore(web-view): apply Image component
  apps/explore/src/app/page.tsx
Labels: none

chore(web-view): apply Image component
  apps/explore/src/app/page.tsx
Labels: none

chore(web-view): apply Image componenet
  apps/explore/src/app/page.tsx
Labels: none

fix(web-view): fix lint
  apps/explore/src/app/page.tsx
Labels: none

chore(web-view): background transparent
  apps/explore/src/app/globals.css
Labels: none

chore(web-view): css merge
  apps/explore/src/app/globals.css
Labels: none

chore(eslint): correctly
  .vscode/settings.json
  apps/explore/.eslintrc.js
  apps/explore/package.json
  apps/onboarding/.eslintrc.js
  apps/onboarding/package.json
  configs/eslint-config-js/.eslintrc.js
  configs/eslint-config-js/javascript.js
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/.eslintrc.js
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config-ts/typescript.js
  configs/eslint-config/.eslintrc.js
  configs/eslint-config/common.js
  configs/eslint-config/next.js
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
  configs/eslint-config/react.js
  package.json
  packages/token/package.json
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/Button.tsx
  pnpm-lock.yaml
Labels: packages, configs, dependencies

chore(assets): add common assets
  public/icons/ic-goryanju-m.svg
  public/icons/ic-macju-m.svg
  public/icons/ic-soju-m.svg
  public/icons/ic-wine-m.svg
  public/images/main_image.png
  public/images/result/card/card_1_baby.png
  public/images/result/card/card_2_common.png
  public/images/result/card/card_3_master.png
  public/images/result/card/card_4_ghost.png
  public/images/result/card/card_5_heaven.png
  public/images/result/card/card_6_god.png
  public/images/result/illust/illust_1_baby.png
  public/images/result/illust/illust_2_common.png
  public/images/result/illust/illust_3_master.png
  public/images/result/illust/illust_4_ghost.png
  public/images/result/illust/illust_5_heaven.png
  public/images/result/illust/illust_6_god.png
Labels: none

chore(assets): update asset quality
  apps/onboarding/next.config.js
  apps/onboarding/public/icons/ic-goryanju-m.svg
  apps/onboarding/public/icons/ic-macju-m.svg
  apps/onboarding/public/icons/ic-soju-m.svg
  apps/onboarding/public/icons/ic-wine-m.svg
  apps/onboarding/public/images/main_image.png
  apps/onboarding/public/images/result/card/card_1_baby.png
  apps/onboarding/public/images/result/card/card_2_common.png
  apps/onboarding/public/images/result/card/card_3_master.png
  apps/onboarding/public/images/result/card/card_4_ghost.png
  apps/onboarding/public/images/result/card/card_5_heaven.png
  apps/onboarding/public/images/result/card/card_6_god.png
  apps/onboarding/public/images/result/illust/illust_1_baby.png
  apps/onboarding/public/images/result/illust/illust_2_common.png
  apps/onboarding/public/images/result/illust/illust_3_master.png
  apps/onboarding/public/images/result/illust/illust_4_ghost.png
  apps/onboarding/public/images/result/illust/illust_5_heaven.png
  apps/onboarding/public/images/result/illust/illust_6_god.png
  public/images/result/card/card_1_baby.png
  public/images/result/card/card_2_common.png
  public/images/result/card/card_3_master.png
  public/images/result/card/card_4_ghost.png
  public/images/result/card/card_5_heaven.png
  public/images/result/card/card_6_god.png
Labels: none

style(Button): change button radius
  packages/ui/src/Button.tsx
Labels: packages

feat(result.page.tsx): create result page UI
  apps/onboarding/src/app/components/ImageWrapper.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

.github/labeler.yml:

apps/web:
  - apps/web/*
  - apps/web/**/*
apps/map:
  - apps/map/*
  - apps/map/**/*
packages:
  - packages/*
  - packages/**/*
configs:
  - configs/*
  - configs/**/*
dependencies:
  - "**/pnpm-lock.yaml"
.github:
  - .github/*
  - .github/**/*
