Repository mash-up-kr/sulsul-web, changes with the labels that .github/labeler.yml gives for each.
All labels: apps/web, apps/map, packages, configs, dependencies, .github

feat(react-hook-step): add package to implement form easily
  .github/workflows/ci.yml
  apps/explore/package.json
  apps/onboarding/package.json
  apps/onboarding/src/app/tests/react-hook-step/page.tsx
  package.json
  packages/react-hook-step/.eslintrc.js
  packages/react-hook-step/package.json
  packages/react-hook-step/src/index.ts
  packages/react-hook-step/src/useStep.tsx
  packages/react-hook-step/tsconfig.json
  pnpm-lock.yaml
Labels: packages, dependencies, .github

refactor(falling): rename app explore as falling
  apps/falling/.eslintrc.js
  apps/falling/.gitignore
  apps/falling/README.md
  apps/falling/emotion.d.ts
  apps/falling/emotion.tsx
  apps/falling/next.config.js
  apps/falling/package.json
  apps/falling/public/next.svg
  apps/falling/public/vercel.svg
  apps/falling/src/app/favicon.ico
  apps/falling/src/app/globals.css
  apps/falling/src/app/layout.tsx
  apps/falling/src/app/page.tsx
  apps/falling/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies

feat(alcohol.ts): set constants related alcohol
  apps/onboarding/src/app/constant/alcohol.ts
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix(onboarding): add packages as transpilePackages
  apps/onboarding/next.config.js
Labels: none

fix(onboarding): add packages as transpilePackages
  apps/onboarding/next.config.js
Labels: none

feat(GrainGradient): add GrainGradient poc
  apps/onboarding/.eslintrc.js
  apps/onboarding/src/app/tests/grain-gradient/page.tsx
Labels: none

feat(svg): add assets
  apps/onboarding/public/icons/grainy.svg
  apps/onboarding/public/images/result/card/card-baby.svg
  apps/onboarding/public/images/result/card/card-common.svg
  apps/onboarding/public/images/result/card/card-ghost.svg
  apps/onboarding/public/images/result/card/card-god.svg
  apps/onboarding/public/images/result/card/card-heaven.svg
  apps/onboarding/public/images/result/card/card-master.svg
  apps/onboarding/public/images/result/card/card_1_baby.png
  apps/onboarding/public/images/result/card/card_2_common.png
  apps/onboarding/public/images/result/card/card_3_master.png
  apps/onboarding/public/images/result/card/card_4_ghost.png
  apps/onboarding/public/images/result/card/card_5_heaven.png
  apps/onboarding/public/images/result/card/card_6_god.png
Labels: none

feat(result): apply background
  apps/onboarding/src/app/result/layout.tsx
Labels: none

feat(apps/onboarding): setup svgr
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/src/app/tests/svgr/page.tsx
  apps/onboarding/src/assets/cards/card_baby.svg
  apps/onboarding/svgr.d.ts
  apps/onboarding/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies

Update apps/onboarding/next.config.js
  apps/onboarding/next.config.js
Labels: none

feat(apps/onboarding): setup svgr (#17)
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/src/app/tests/svgr/page.tsx
  apps/onboarding/src/assets/cards/card_baby.svg
  apps/onboarding/svgr.d.ts
  apps/onboarding/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies

chore(svgr): add svgr config
  apps/explore/next-env.d.ts
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  pnpm-lock.yaml
Labels: dependencies

feat(apps/onboarding): add openapi-generator
  apps/onboarding/openapi-config.json
  apps/onboarding/openapitools.json
  apps/onboarding/package.json
  apps/onboarding/src/api/.gitignore
  apps/onboarding/src/api/.npmignore
  apps/onboarding/src/api/.openapi-generator-ignore
  apps/onboarding/src/api/.openapi-generator/FILES
  apps/onboarding/src/api/.openapi-generator/VERSION
  apps/onboarding/src/api/api.ts
  apps/onboarding/src/api/base.ts
  apps/onboarding/src/api/common.ts
  apps/onboarding/src/api/configuration.ts
  apps/onboarding/src/api/git_push.sh
  apps/onboarding/src/api/index.ts
  apps/onboarding/src/app/tests/openapi-generator/page.tsx
  openapispec.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies

feat(svg): edit assets
  apps/onboarding/public/images/result/card/card-baby.svg
  apps/onboarding/src/assets/card/card-baby.svg
  apps/onboarding/src/assets/card/card-common.svg
  apps/onboarding/src/assets/card/card-ghost.svg
  apps/onboarding/src/assets/card/card-god.svg
  apps/onboarding/src/assets/card/card-heaven.svg
  apps/onboarding/src/assets/card/card-master.svg
Labels: none

feat(onboarding/page): make default ui
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

feat(service): add logic
  apps/onboarding/src/app/result/service.ts
Labels: none

feat(alcohol): make data constant
  apps/onboarding/src/app/constant/alcohol.ts
  apps/onboarding/src/app/constant/alcohol.tsx
Labels: none

feat(ResultCard.tsx): create result card
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix(svgr test): remove test page
  apps/onboarding/src/app/tests/svgr/page.tsx
Labels: none

feat(apps/onboarding): add openapi-generator (#16)
  apps/onboarding/openapi-config.json
  apps/onboarding/openapitools.json
  apps/onboarding/package.json
  apps/onboarding/src/api/.gitignore
  apps/onboarding/src/api/.npmignore
  apps/onboarding/src/api/.openapi-generator-ignore
  apps/onboarding/src/api/.openapi-generator/FILES
  apps/onboarding/src/api/.openapi-generator/VERSION
  apps/onboarding/src/api/api.ts
  apps/onboarding/src/api/base.ts
  apps/onboarding/src/api/common.ts
  apps/onboarding/src/api/configuration.ts
  apps/onboarding/src/api/git_push.sh
  apps/onboarding/src/api/index.ts
  apps/onboarding/src/app/tests/openapi-generator/page.tsx
  openapispec.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies

Update apps/onboarding/package.json
  apps/onboarding/package.json
Labels: none

fix(enum): make it use name same as server
  apps/onboarding/src/app/constant/alcohol.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix(layout.tsx): rename query
  apps/onboarding/src/app/result/layout.tsx
Labels: none

chore(css): add emotion babel for css props
  apps/onboarding/.eslintrc.js
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/src/.babelrc
  pnpm-lock.yaml
Labels: dependencies

refactor(ResultCard): refactor result card
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

refactor(ImageWrapper): remove unused component
  apps/onboarding/src/app/components/ImageWrapper.tsx
Labels: none

chore(pnpm): up-to-date
  apps/onboarding/package.json
  pnpm-lock.yaml
Labels: dependencies

Feature/alcohol resister result page UI (#15)
  apps/explore/next-env.d.ts
  apps/onboarding/.eslintrc.js
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/public/icons/grainy.svg
  apps/onboarding/public/icons/ic-goryanju-m.svg
  apps/onboarding/public/icons/ic-macju-m.svg
  apps/onboarding/public/icons/ic-soju-m.svg
  apps/onboarding/public/icons/ic-wine-m.svg
  apps/onboarding/public/images/main_image.png
  apps/onboarding/public/images/result/illust/illust_1_baby.png
  apps/onboarding/public/images/result/illust/illust_2_common.png
  apps/onboarding/public/images/result/illust/illust_3_master.png
  apps/onboarding/public/images/result/illust/illust_4_ghost.png
  apps/onboarding/public/images/result/illust/illust_5_heaven.png
  apps/onboarding/public/images/result/illust/illust_6_god.png
  apps/onboarding/src/.babelrc
  apps/onboarding/src/app/constant/alcohol.tsx
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
  apps/onboarding/src/app/result/service.ts
  apps/onboarding/src/app/tests/svgr/page.tsx
  apps/onboarding/src/assets/card/card-baby.svg
  apps/onboarding/src/assets/card/card-common.svg
  apps/onboarding/src/assets/card/card-ghost.svg
  apps/onboarding/src/assets/card/card-god.svg
  apps/onboarding/src/assets/card/card-heaven.svg
  apps/onboarding/src/assets/card/card-master.svg
  packages/ui/src/Button.tsx
  pnpm-lock.yaml
  public/images/result/card/card_1_baby.png
  public/images/result/card/card_2_common.png
  public/images/result/card/card_3_master.png
  public/images/result/card/card_4_ghost.png
  public/images/result/card/card_5_heaven.png
  public/images/result/card/card_6_god.png
Labels: packages, dependencies

feat(api): attach apis
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

chore(env): apply env
  apps/onboarding/.env.production
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

feat(metadata): add metadata
  apps/onboarding/public/next.svg
  apps/onboarding/public/vercel.svg
  apps/onboarding/src/app/layout.tsx
Labels: none

refactor(env.prod): remove .env.production
  apps/onboarding/.env.production
Labels: none

refactor(metadata): replace preview image
  apps/onboarding/src/app/layout.tsx
Labels: none

refactor(resultPage): apply comments
  apps/onboarding/src/app/result/page.tsx
Labels: none

feat(shareAPI): add share api for other device
  apps/onboarding/src/app/result/page.tsx
Labels: none

feat(api): attach apis (#19)
  apps/onboarding/public/next.svg
  apps/onboarding/public/vercel.svg
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

chore(asset): refactor assets
  apps/onboarding/public/favicons/android-chrome-192x192.png
  apps/onboarding/public/favicons/android-chrome-512x512.png
  apps/onboarding/public/favicons/apple-touch-icon.png
  apps/onboarding/public/favicons/favicon-16x16.png
  apps/onboarding/public/favicons/favicon-32x32.png
  apps/onboarding/public/favicons/favicon.ico
  apps/onboarding/public/favicons/site.webmanifest
  apps/onboarding/src/app/constant/provider.tsx
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/assets/metadata/illust/illust_1_baby.png
  apps/onboarding/src/assets/metadata/illust/illust_2_common.png
  apps/onboarding/src/assets/metadata/illust/illust_3_master.png
  apps/onboarding/src/assets/metadata/illust/illust_4_ghost.png
  apps/onboarding/src/assets/metadata/illust/illust_5_heaven.png
  apps/onboarding/src/assets/metadata/illust/illust_6_god.png
  apps/onboarding/src/assets/metadata/main_image.png
Labels: none

feat(onboarding): og image, metadata in emotion env
  .vscode/settings.json
  apps/explore/next-env.d.ts
  apps/onboarding/emotion.tsx
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/public/metadata/illust/illust_1_baby.png
  apps/onboarding/public/metadata/illust/illust_2_common.png
  apps/onboarding/public/metadata/illust/illust_3_master.png
  apps/onboarding/public/metadata/illust/illust_4_ghost.png
  apps/onboarding/public/metadata/illust/illust_5_heaven.png
  apps/onboarding/public/metadata/illust/illust_6_god.png
  apps/onboarding/public/metadata/main_image.png
  apps/onboarding/src/GlobalCSS.tsx
  apps/onboarding/src/KakaoScript.tsx
  apps/onboarding/src/app/constant/alcohol.tsx
  apps/onboarding/src/app/constant/provider.tsx
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/page.tsx
  apps/onboarding/src/app/tests/openapi-generator/page.tsx
  apps/onboarding/src/app/tests/react-hook-step/page.tsx
  apps/onboarding/tsconfig.json
  packages/ui/src/Button.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: packages, dependencies

fix(onboarding): resolve RSC
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

chore(pnpm): add pnpm stripts
  package.json
  pnpm-lock.yaml
Labels: dependencies

.github/labeler.yml:

apps/web:
  - apps/web/*
  - apps/web/**/*
apps/map:
  - apps/map/*
  - apps/map/**/*
packages:
  - packages/*
  - packages/**/*
configs:
  - configs/*
  - configs/**/*
dependencies:
  - "**/pnpm-lock.yaml"
.github:
  - .github/*
  - .github/**/*
