Repository mash-up-kr/sulsul-web, changes with the labels that .github/labeler.yml gives for each.
All labels: apps/web, apps/map, packages, configs, dependencies, .github

fix(Button): fix use Button as lib
  apps/onboarding/src/app/components/Button.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/tsconfig.json
  packages/ui/src/Button.tsx
  packages/ui/tsconfig.json
Labels: packages

fix(Button): fix to apply style of button token
  apps/onboarding/src/app/constant/alcohol.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/app/result/page.tsx
  packages/ui/src/Button.tsx
  packages/ui/tsconfig.json
Labels: packages

style(result): apply removed styles
  apps/onboarding/src/app/result/components/ResultCard.tsx
Labels: none

fix(pseudo-elements): fix seperated border issue
  apps/onboarding/src/app/result/page.tsx
Labels: none

feat(image): add images
  apps/onboarding/public/metadata/illust/illust_1_baby.png
  apps/onboarding/public/metadata/illust/illust_2_common.png
  apps/onboarding/public/metadata/illust/illust_3_master.png
  apps/onboarding/public/metadata/illust/illust_4_ghost.png
  apps/onboarding/public/metadata/illust/illust_5_heaven.png
  apps/onboarding/public/metadata/illust/illust_6_god.png
  apps/onboarding/public/metadata/images/baby.png
  apps/onboarding/public/metadata/images/common.png
  apps/onboarding/public/metadata/images/god.png
  apps/onboarding/public/metadata/images/heaven.png
  apps/onboarding/public/metadata/images/master.png
  apps/onboarding/public/metadata/images/monster.png
Labels: none

feat(alcohol): add alcohol metadata
  apps/onboarding/src/app/constant/alcohol.tsx
Labels: none

feat(result): apply dynamic metadata
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

refactor(result): change result server component
  apps/onboarding/src/app/result/components/ResultContents.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

Feat/apply dynamic metadata (#22)
  apps/onboarding/public/metadata/illust/illust_1_baby.png
  apps/onboarding/public/metadata/illust/illust_2_common.png
  apps/onboarding/public/metadata/illust/illust_3_master.png
  apps/onboarding/public/metadata/illust/illust_4_ghost.png
  apps/onboarding/public/metadata/illust/illust_5_heaven.png
  apps/onboarding/public/metadata/illust/illust_6_god.png
  apps/onboarding/public/metadata/images/baby.png
  apps/onboarding/public/metadata/images/common.png
  apps/onboarding/public/metadata/images/god.png
  apps/onboarding/public/metadata/images/heaven.png
  apps/onboarding/public/metadata/images/master.png
  apps/onboarding/public/metadata/images/monster.png
  apps/onboarding/src/app/constant/alcohol.tsx
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/result/components/ResultContents.tsx
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix(metadata): remove parents image
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix(metadata): remove async
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix: update next version
  apps/falling/package.json
  apps/onboarding/package.json
  pnpm-lock.yaml
Labels: dependencies

fix(metadata): remove env
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix: packages/ui, searchParams of next
  .gitignore
  apps/onboarding/env.d.ts
  apps/onboarding/src/app/components/Button.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/app/result/components/ResultContents.tsx
  apps/onboarding/src/app/result/page.tsx
  configs/babel/.eslintrc.js
  configs/babel/index.js
  configs/babel/package.json
  configs/rollup/.eslintrc.js
  configs/rollup/index.js
  configs/rollup/package.json
  package.json
  packages/ui/.eslintignore
  packages/ui/babel.config.js
  packages/ui/global.css
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/Button.tsx
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: packages, configs, dependencies

fix: remove suspense
  apps/onboarding/src/app/result/components/ResultContents.tsx
Labels: none

refactor(dynamic): remove dynamic
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix(metadata): add metadata base
  apps/onboarding/src/app/result/page.tsx
Labels: none

fix(metadata): add config
  apps/onboarding/src/app/result/page.tsx
Labels: none

feat(main): create main page
  apps/onboarding/public/icons/main.svg
  apps/onboarding/src/app/components/SVGWrapper.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/app/result/components/ResultCard.tsx
Labels: none

feat(main): add button actions
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/app/result/components/ResultContents.tsx
  apps/onboarding/src/app/utils/share.ts
Labels: none

fix(icon): add whisky icon
  apps/onboarding/public/icons/ic-whisky-m.svg
  apps/onboarding/src/app/constant/alcohol.tsx
Labels: none

style(overlay): fix overlay
  apps/onboarding/src/app/page.tsx
Labels: none

refactor(svg): refactor svg
  apps/onboarding/public/icons/sulsul-text.svg
  apps/onboarding/src/app/page.tsx
Labels: none

Feature/main page (#26)
  apps/onboarding/public/icons/ic-whisky-m.svg
  apps/onboarding/public/icons/main.svg
  apps/onboarding/public/icons/sulsul-text.svg
  apps/onboarding/src/app/components/SVGWrapper.tsx
  apps/onboarding/src/app/constant/alcohol.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/components/ResultContents.tsx
  apps/onboarding/src/app/utils/share.ts
Labels: none

refactor(onboarding): change directory
  apps/onboarding/src/app/layout.tsx
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/components/ResultContents.tsx
  apps/onboarding/src/app/result/page.tsx
  apps/onboarding/src/app/result/service.ts
  apps/onboarding/src/components/SVGWrapper.tsx
  apps/onboarding/src/constants/alcohol.tsx
  apps/onboarding/src/constants/provider.tsx
Labels: none

fix(onboarding): change url to svgr for no fetch image
  apps/onboarding/public/svgs/grainy.svg
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/components/ResultContents.tsx
  apps/onboarding/src/assets/icons/ic-goryanju-m.svg
  apps/onboarding/src/assets/icons/ic-macju-m.svg
  apps/onboarding/src/assets/icons/ic-soju-m.svg
  apps/onboarding/src/assets/icons/ic-whisky-m.svg
  apps/onboarding/src/assets/icons/ic-wine-m.svg
  apps/onboarding/src/assets/icons/main.svg
  apps/onboarding/src/assets/icons/sulsul-text.svg
  apps/onboarding/src/constants/alcohol.tsx
  configs/eslint-config/react.js
Labels: configs

feat(onboarding): add initial MeasurePage
  .vscode/settings.json
  apps/onboarding/package.json
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/assets/icons/ic_doublechevron_left.svg
  apps/onboarding/src/assets/icons/ic_doublechevron_right.svg
  apps/onboarding/src/assets/icons/navigations/ic-back.svg
  apps/onboarding/src/assets/icons/navigations/ic-refresh.svg
  pnpm-lock.yaml
Labels: dependencies

feat(onboarding): add initial MeasurePage (#27)
  .vscode/settings.json
  apps/onboarding/package.json
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/assets/icons/ic_doublechevron_left.svg
  apps/onboarding/src/assets/icons/ic_doublechevron_right.svg
  apps/onboarding/src/assets/icons/navigations/ic-back.svg
  apps/onboarding/src/assets/icons/navigations/ic-refresh.svg
  pnpm-lock.yaml
Labels: dependencies

fix(onboarding): update measure style
  apps/onboarding/package.json
  apps/onboarding/src/app/measure/page.tsx
  pnpm-lock.yaml
Labels: dependencies

feat(matter): remove balls
  packages/ui/src/Matter/MatterStep.tsx
Labels: packages

feat(matter): make border of balls
  packages/ui/src/Matter/MatterStep.tsx
Labels: packages

feat(matter): add matter js
  apps/onboarding/src/app/measure/test/page.tsx
  packages/ui/package.json
  packages/ui/src/Matter/Matter.tsx
  packages/ui/src/Matter/MatterStep.tsx
  packages/ui/src/Matter/index.ts
  packages/ui/src/assets/bubble-wine.png
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: packages, dependencies

feat(matter): apply image url
  apps/onboarding/src/app/measure/test/page.tsx
  packages/ui/src/Matter/Matter.tsx
  packages/ui/src/Matter/MatterStep.tsx
Labels: packages

feat(stackball): modularize stack ball as hook
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/app/measure/test/page.tsx
  packages/ui/src/Matter/Matter.tsx
  packages/ui/src/Matter/index.ts
  packages/ui/src/StackView/StackView.tsx
  packages/ui/src/StackView/index.ts
  packages/ui/src/StackView/useStackBall.ts
  packages/ui/src/index.ts
Labels: packages

feat(image): add images
  apps/onboarding/public/images/bubble-goryanju.png
  apps/onboarding/public/images/bubble-macju.png
  apps/onboarding/public/images/bubble-soju.png
  apps/onboarding/public/images/bubble-whisky.png
  apps/onboarding/public/images/bubble-wine.png
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/constants/alcohol.tsx
  packages/ui/src/StackView/useStackBall.ts
Labels: packages

style(stackball): edit scale of balls
  apps/onboarding/public/images/bubble-beer.png
  apps/onboarding/src/app/measure/page.tsx
  packages/ui/src/StackView/useStackBall.ts
Labels: packages

Feature/matter UI (#28)
  apps/onboarding/public/images/bubble-beer.png
  apps/onboarding/public/images/bubble-goryanju.png
  apps/onboarding/public/images/bubble-soju.png
  apps/onboarding/public/images/bubble-whisky.png
  apps/onboarding/public/images/bubble-wine.png
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/constants/alcohol.tsx
  packages/ui/package.json
  packages/ui/src/StackView/StackView.tsx
  packages/ui/src/StackView/index.ts
  packages/ui/src/StackView/useStackBall.ts
  packages/ui/src/assets/bubble-wine.png
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: packages, dependencies

fix(onboarding/measure): reduce width
  apps/onboarding/src/app/measure/page.tsx
Labels: none

feat(android): init android
  apps/falling/src/app/components/Falling.tsx
  apps/falling/src/app/layout.tsx
  apps/falling/src/app/page.tsx
Labels: none

feat(falling): add text
  apps/falling/src/app/components/Falling.tsx
Labels: none

.github/labeler.yml:

apps/web:
  - apps/web/*
  - apps/web/**/*
apps/map:
  - apps/map/*
  - apps/map/**/*
packages:
  - packages/*
  - packages/**/*
configs:
  - configs/*
  - configs/**/*
dependencies:
  - "**/pnpm-lock.yaml"
.github:
  - .github/*
  - .github/**/*
