Repository mash-up-kr/sulsul-web, pull requests merged in 2023-07, with the labels that each got.

#17 feat(apps/onboarding): setup svgr
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/src/app/tests/svgr/page.tsx
  apps/onboarding/src/assets/cards/card_baby.svg
  apps/onboarding/svgr.d.ts
  apps/onboarding/tsconfig.json
  pnpm-lock.yaml
Labels: dependencies

#16 feat(apps/onboarding): add openapi-generator
  apps/onboarding/openapi-config.json
  apps/onboarding/openapitools.json
  apps/onboarding/package.json
  apps/onboarding/src/api/.gitignore
  apps/onboarding/src/api/.npmignore
  apps/onboarding/src/api/.openapi-generator-ignore
  apps/onboarding/src/api/.openapi-generator/FILES
  apps/onboarding/src/api/.openapi-generator/VERSION
  apps/onboarding/src/api/api.ts
  apps/onboarding/src/api/base.ts
  apps/onboarding/src/api/common.ts
  apps/onboarding/src/api/configuration.ts
  apps/onboarding/src/api/git_push.sh
  apps/onboarding/src/api/index.ts
  apps/onboarding/src/app/tests/openapi-generator/page.tsx
  openapispec.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies

#15 Feature/alcohol resister result page UI
  apps/explore/next-env.d.ts
  apps/onboarding/.eslintrc.js
  apps/onboarding/next.config.js
  apps/onboarding/package.json
  apps/onboarding/public/icons/grainy.svg
  apps/onboarding/public/icons/ic-goryanju-m.svg
  apps/onboarding/public/icons/ic-macju-m.svg
  apps/onboarding/public/icons/ic-soju-m.svg
  apps/onboarding/public/icons/ic-wine-m.svg
  apps/onboarding/public/images/main_image.png
  apps/onboarding/public/images/result/illust/illust_1_baby.png
  apps/onboarding/public/images/result/illust/illust_2_common.png
  apps/onboarding/public/images/result/illust/illust_3_master.png
  apps/onboarding/public/images/result/illust/illust_4_ghost.png
  apps/onboarding/public/images/result/illust/illust_5_heaven.png
  apps/onboarding/public/images/result/illust/illust_6_god.png
  apps/onboarding/src/.babelrc
  apps/onboarding/src/app/constant/alcohol.tsx
  apps/onboarding/src/app/result/components/ResultCard.tsx
  apps/onboarding/src/app/result/layout.tsx
  apps/onboarding/src/app/result/page.tsx
  apps/onboarding/src/app/result/service.ts
  apps/onboarding/src/app/tests/svgr/page.tsx
  apps/onboarding/src/assets/card/card-baby.svg
  apps/onboarding/src/assets/card/card-common.svg
  apps/onboarding/src/assets/card/card-ghost.svg
  apps/onboarding/src/assets/card/card-god.svg
  apps/onboarding/src/assets/card/card-heaven.svg
  apps/onboarding/src/assets/card/card-master.svg
  packages/ui/src/Button.tsx
  pnpm-lock.yaml
  public/images/result/card/card_1_baby.png
  public/images/result/card/card_2_common.png
  public/images/result/card/card_3_master.png
  public/images/result/card/card_4_ghost.png
  public/images/result/card/card_5_heaven.png
  public/images/result/card/card_6_god.png
Labels: packages, dependencies

#27 feat(onboarding): add initial MeasurePage
  .vscode/settings.json
  apps/onboarding/package.json
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/app/page.tsx
  apps/onboarding/src/assets/icons/ic_doublechevron_left.svg
  apps/onboarding/src/assets/icons/ic_doublechevron_right.svg
  apps/onboarding/src/assets/icons/navigations/ic-back.svg
  apps/onboarding/src/assets/icons/navigations/ic-refresh.svg
  pnpm-lock.yaml
Labels: dependencies

#28 Feature/matter UI
  apps/onboarding/public/images/bubble-beer.png
  apps/onboarding/public/images/bubble-goryanju.png
  apps/onboarding/public/images/bubble-soju.png
  apps/onboarding/public/images/bubble-whisky.png
  apps/onboarding/public/images/bubble-wine.png
  apps/onboarding/src/app/measure/page.tsx
  apps/onboarding/src/constants/alcohol.tsx
  packages/ui/package.json
  packages/ui/src/StackView/StackView.tsx
  packages/ui/src/StackView/index.ts
  packages/ui/src/StackView/useStackBall.ts
  packages/ui/src/assets/bubble-wine.png
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: packages, dependencies

#32 Feature/check android
  apps/onboarding/public/metadata/images/baby.png
  apps/onboarding/src/app/measure/page.tsx
  packages/ui/src/StackView/StackView.tsx
  packages/ui/src/StackView/TouchButton.tsx
Labels: packages

#34 Revert "Feature/check android"
  apps/onboarding/public/metadata/images/baby.png
  apps/onboarding/src/app/measure/page.tsx
  packages/ui/src/StackView/StackView.tsx
  packages/ui/src/StackView/TouchButton.tsx
Labels: packages

#35 Feature/check android
  apps/onboarding/public/metadata/images/baby.png
  apps/onboarding/src/app/measure/page.tsx
  packages/ui/src/StackView/StackView.tsx
  packages/ui/src/StackView/TouchButton.tsx
Labels: packages
